In [1]:
import pandas as pd

In [11]:
l1 = [1, 2, 3, 4, 5]
l2 = (1, 2, 3, 4, 5)
print(type(l1))
print(type(l2))

<class 'list'>
<class 'tuple'>

In [13]:
s1 = pd.Series(l1)
s2 = pd.Series(l2)

In [14]:
s2.values

array([1, 2, 3, 4, 5])

In [15]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
i1 = ['a', 'b', 'c', 'd', 'e']
s3 = pd.Series(l1, index = i1)
print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
print(s3['a'])

1

In [21]:
s3[s3 > 2]

c    3
d    4
e    5
dtype: int64

In [22]:
s3 * s3

a     1
b     4
c     9
d    16
e    25
dtype: int64

In [23]:
'b' in s3

True

In [25]:
sdata = {'Ohio': 3500, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
print(sdata)

{'Ohio': 3500, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [26]:
s4 = pd.Series(sdata)
print(s4)

Ohio       3500
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [30]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
s5 = pd.Series(sdata, index = states)
print(s5)

California        NaN
Ohio           3500.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
pd.isnull(s5)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [32]:
s5.name = 'population'
s5.index.name = 'State'
print(s5)

State
California        NaN
Ohio           3500.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64