## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [22]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [6]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

### Question: 1

Add 10 to list l1 given above.

[ **Hint:** Use **append** ]

In [20]:
l2.append(10)
print(l2)
l2.remove(10)
print(l2)

['learning', 'for', 'life', True, 10]
['learning', 'for', 'life', True]

### Question 2

Remove 10 from l1.

[ **Hint:** Use **remove** ]

In [23]:
l3 = l1 + l2
print(l3)

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

### Question 3

Join list l1 and list l2

[ **Hint:** Use **+ operator or extend** ]

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint:**  Use **len(),sum(), min(), max()** ]
 
 
Mean and range can be found by applying formulas for mean and range.

In [35]:
l3 = [2,4,6,8]
l3_mean = sum(l3) / len(l3)
print(l3_mean)
l3_range = max(l3) - min(l3)
print(l3_range)

5.0
6



### Question 5
Count the occurrences of an element in a given list.

Append the given sequence of numbers [0,1,3,3,5,5,7,9] to list l3(given above) and Count the occurrences of 5 in list l3.

[ **Hint:** Use **+ operator to add multiple elements in the array and count() function to print the occurences** ]

In [37]:
l4 = l3 + [0,1,3,3,5,5,7,9]
print(l4)
l4_count_5 = l4.count(5)
print(l4_count_5)

[2, 4, 6, 8, 0, 1, 3, 3, 5, 5, 7, 9]
2

### Question 6
Sorting and Reversing a list

sort and print list l3(given above) in ascending and descending order 

[ **Hint:** Use **.sort() function** ]

In [48]:
l3.sort(reverse = False)
print(l3)
l3.sort(reverse = True)
print(l3)

[2, 4, 6, 8]
[8, 6, 4, 2]

## Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns the sum of them

In [53]:
def sum_3(n1,n2,n3):
    return n1 + n2 + n3

In [54]:
sum_3(1, 2, 3)

6

## Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the above **sum_3** function using lambda.

In [55]:
sum_3_lambda = lambda x, y, z: x + y + z

In [57]:
print(sum_3_lambda(1, 2, 3))

6

### List Comprehension:

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list which contain squares of each number in the range 1-10:

In [59]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Question 9

Convert the elements (which are integers) of the list **squares** to string type using list comprehension.

[**Hint:** use **str()**]

In [61]:
str_squares = [str(x) for x in squares]
print(str_squares)

['0', '1', '4', '9', '16', '25', '36', '49', '64', '81']

### Question 10

Check the data-type of each element of the list used in the previous question using list comprehension.

In [64]:
data_type = [type(x) for x in str_squares]
print(data_type)

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]

### Question 11

Print all the even numbers between 1 and 100 (both inclusive) using list comprehension.

In [ ]:
print([if x mod 2 != 0])

### Question 12

For integers between 1 and 50 (both inclusive), use list comprehension to create another list having 1 for numbers divisible by 3 and 0 otherwise.

### Question 13

Using list comprehension, create a list of all vowels in the string **'Machine Learning'**.

### Question 14

Using list comprehensions, count the number of characters in each word in the string: **"great learning is a great platform to learn about data science as it has great faculty and content"**

[ **Hint**: You can use the **split()** function to split a string by whitespace]

### Question 15

Count the frequency of 'great' in the above string